.list {
  background-color: #919191;
  width: 400px;
  border-radius: 10px;
  margin-right: 2rem;
  margin-bottom: 4rem;

  .title {
    color: #333;
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #333;

    .tag {
      height: 20px;
      width: 20px;
      border-radius: 50%;
      margin-right: 0.4rem;
    }
  }

  ul {
    padding: 25px 10%;
  }
}
